.video{

    grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    width:100%;
   
}

.mypart {
    position: relative;
    height: 50%;
    width:100%;
}
.userpart {
    position:relative;
    height: 50%;
    width:100%;
  
}
.uservideo{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, 0);

    margin-bottom: 5px;
    
    width : 95%;
    height : 100%;
    min-width:200px;
    min-height:150px;
    max-width:800px;
    max-height:250px;
    
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    border: 3px solid rgb(196,196,196);
}
.myvideo{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%, 0);
    
    width : 95%;
    min-width:200px;
    min-height:150px;
    max-width:800px;
    max-height:250px;
    
    background-color: rgb(46, 46, 46);
    border-radius: 10px;
    border: 3px solid rgb(196,196,196);
}

.button{
    display: flex;
    flex-direction: row;
    margin-right: 20%;
    margin-left: 20%;
}

.mute{
    flex-basis: 50%;
    margin-right: 10%;

    background-color: rgb(214, 206, 225);
    font-size: calc(10px+1vh);
    color: #1e1e23;
    font-family: "Chalkboard";
}

.camera{
    flex-basis: 50%;
    margin-left: 10%;

    background-color: rgb(214, 206, 225);
    font-size: calc(10px+1vh);
    color: #1e1e23;
    font-family: "Chalkboard";
}